{% extends 'base.html' %}
{% block content %}
<!-- Page Header-->
<header class="masthead" style="background-image: url('assets/img/home-bg.jpg')">
    <div class="container position-relative px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 justify-content-center">
            <div class="col-md-10 col-lg-8 col-xl-7">
                <div class="site-heading" style="color: black">
                    <h1>공지사항</h1>
                    <span class="subheading">4U(from. LG전자)의 소식을 안내해 드립니다.</span>
                </div>
            </div>
        </div>
    </div>
</header>
<!-- Main Content-->
<div class="container px-4 px-lg-5">
    <div class="row gx-4 gx-lg-5 justify-content-center">
        <div class="col-md-10 col-lg-8 col-xl-7">
            <!-- Post preview-->
            <div class="post-preview">
                {% if community_content_list %}
                {% for content in community_content_list %}
                <hr/>
                <h3><a href="/community/{{ content.id }}">{{ content.title }}</a></h3>
                {% endfor %}
                {% else %}
                <p>content가 없습니다.</p>
                {% endif %}
                <!-- Divider-->
                <hr class="my-4"/>
                <!-- Pager-->
                <div class="d-flex justify-content-end mb-4"><a class="btn btn-primary text-uppercase" href="#!">Older
                    Posts
                    →</a></div>
            </div>
        </div>
    </div>
</div>
{% endblock %}