{% extends 'base.html' %}
{% block content %}
<!-- Team-->
<section class="page-section bg-light" id="team">
    <div class="container">
        <div class="text-center">
            <h2 class="section-heading text-uppercase">4U</h2>
            <h3 class="section-subheading text-muted">4U는(from LG전자)는 전자, 가전 분야의 혁신적인 기술로<br>
                세계적인 일류기업 자리를 지켜나가도록 최선을 다하겠습니다.</h3>
        </div>
        <div class="row">
            <div class="col-lg-4">
                <div class="team-member">
                    <img class="mx-auto rounded-circle" src="assets/img/team/1.jpg" alt="..."/>
                    <h4>ESG 지향점</h4>
                    <p class="text-muted">고객의 신뢰를 받는 브랜드로서 입지를 강화하고 <br>지속가능한 성과를 창출하도록 성장을 <br> 지속합니다.</p>
                    <a class="btn btn-dark btn-social mx-2" href="#!" aria-label="Parveen Anand Twitter Profile"><i
                            class="fab fa-twitter"></i></a>
                    <a class="btn btn-dark btn-social mx-2" href="#!" aria-label="Parveen Anand Facebook Profile"><i
                            class="fab fa-facebook-f"></i></a>
                    <a class="btn btn-dark btn-social mx-2" href="#!" aria-label="Parveen Anand LinkedIn Profile"><i
                            class="fab fa-linkedin-in"></i></a>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="team-member">
                    <img class="mx-auto rounded-circle" src="assets/img/team/2.jpg" alt="..."/>
                    <h4>환경</h4>
                    <p class="text-muted">경영활동과 사업장 운영이 환경에 미치는 부정적 영향을<br> Zero화 하고 미래세대를 위한 제품과 서비스를 위해<br> 노력하고 있습니다.</p>
                    <a class="btn btn-dark btn-social mx-2" href="#!" aria-label="Diana Petersen Twitter Profile"><i
                            class="fab fa-twitter"></i></a>
                    <a class="btn btn-dark btn-social mx-2" href="#!"
                       aria-label="Diana Petersen Facebook Profile"><i
                            class="fab fa-facebook-f"></i></a>
                    <a class="btn btn-dark btn-social mx-2" href="#!"
                       aria-label="Diana Petersen LinkedIn Profile"><i
                            class="fab fa-linkedin-in"></i></a>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="team-member">
                    <img class="mx-auto rounded-circle" src="assets/img/team/3.jpg" alt="..."/>
                    <h4>사회공헌</h4>
                    <p class="text-muted">'더 나은 삶을 함께 만드는 기업'이라는<br> 사회공헌 비전을 가지고 다양한 사회공헌 활동을<br> 수행하고 있습니다.</p>
                    <a class="btn btn-dark btn-social mx-2" href="#!" aria-label="Larry Parker Twitter Profile"><i
                            class="fab fa-twitter"></i></a>
                    <a class="btn btn-dark btn-social mx-2" href="#!" aria-label="Larry Parker Facebook Profile"><i
                            class="fab fa-facebook-f"></i></a>
                    <a class="btn btn-dark btn-social mx-2" href="#!" aria-label="Larry Parker LinkedIn Profile"><i
                            class="fab fa-linkedin-in"></i></a>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-8 mx-auto text-center"><p class="large text-muted">Lorem ipsum dolor sit amet,
                consectetur adipisicing elit. Aut eaque, laboriosam veritatis, quos non quis ad perspiciatis, totam
                corporis ea, alias ut unde.</p></div>
        </div>
    </div>
</section>
<!-- About-->
<section class="page-section" id="about">
    <div class="container">
        <div class="text-center">
            <h2 class="section-heading text-uppercase">About</h2>
            <h3 class="section-subheading text-muted">Lorem ipsum dolor sit amet consectetur.</h3>
        </div>
        <ul class="timeline">
            <li>
                <div class="timeline-image"><img class="rounded-circle img-fluid" src="assets/img/about/1.jpg"
                                                 alt="..."/></div>
                <div class="timeline-panel">
                    <div class="timeline-heading">
                        <h4>2001-2007</h4>
                        <h4 class="subheading">애기 시절</h4>
                    </div>
                    <div class="timeline-body"><p class="text-muted">이 시절에는 내가 뭐하고 뭘 먹고 언제 잤는지 거의 기억이 안난다.</p></div>
                </div>
            </li>
            <li class="timeline-inverted">
                <div class="timeline-image"><img class="rounded-circle img-fluid" src="assets/img/about/2.jpg"
                                                 alt="..."/></div>
                <div class="timeline-panel">
                    <div class="timeline-heading">
                        <h4>2008-2013</h4>
                        <h4 class="subheading">초등학생</h4>
                    </div>
                    <div class="timeline-body"><p class="text-muted">이 시절에는 드문드문 기억이 나긴 하지만 그래도 많은 기억이 있지는 않다. 일단 좋은
                        기억들이 많은 거 같다.</p></div>
                </div>
            </li>
            <li>
                <div class="timeline-image"><img class="rounded-circle img-fluid" src="assets/img/about/3.jpg"
                                                 alt="..."/></div>
                <div class="timeline-panel">
                    <div class="timeline-heading">
                        <h4>2014-2019</h4>
                        <h4 class="subheading">중-고등학생</h4>
                    </div>
                    <div class="timeline-body"><p class="text-muted">중학생 시절에는 PC방을 주로 갔는데 이제 와서 보면 참 시간 낭비였다고 생각한다.
                        자기개발이 아니었더라도 다른 취미 생활을 할 수 있었던 걸 PC방에서만 죽치고 있어서 시간을 허비한 느낌이 없지 않아 있다. 고등학생 시절에는 야자 때매 공부밖에
                        없었던 거
                        같다. 그래도 나름 학교 친구들과 놀면서 재미있었다.</p></div>
                </div>
            </li>
            <li class="timeline-inverted">
                <div class="timeline-image"><img class="rounded-circle img-fluid" src="assets/img/about/4.jpg"
                                                 alt="..."/></div>
                <div class="timeline-panel">
                    <div class="timeline-heading">
                        <h4>2020~</h4>
                        <h4 class="subheading">대학생</h4>
                    </div>
                    <div class="timeline-body"><p class="text-muted">2020년부터 지금까지는 대학생 생활을 하고 있다. 이렇게 직무 부트캠프 체험활동도
                        하고
                        있고 밴드부 동아리 활동도 하면서 나름 재밌게 살고 있다. 하지만 취업 걱정이 꽤 되는 시기인 거 같다. 지나고보면 이것도 별 거 아니려나?</p></div>
                </div>
            </li>
            <li class="timeline-inverted">
                <div class="timeline-image">
                    <h4>
                        Be Part
                        <br/>
                        Of My
                        <br/>
                        Story!
                    </h4>
                </div>
            </li>
        </ul>
    </div>
</section>
{% endblock %}