<!-- Footer-->
<footer class="footer py-4">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-4 text-lg-start">Copyright &copy; 2024 KCH</div>
            <div class="col-lg-4 my-3 my-lg-0">
                <a class="btn btn-dark btn-social mx-2" href="https://startbootstrap.com/previews/agency" aria-label="Bootstrap" target="_blank"><i class="fab fa-bootstrap"></i></a>
<!--                <a class="btn btn-dark btn-social mx-2" href="https://www.samsung.com/sec/" aria-label="Samsung" target="_blank"><i class="fab fa-samsung"></i></a>-->
                <a class="btn btn-dark btn-social mx-2" href="https://www.samsung.com/sec/" aria-label="Samsung" target="_blank"><img src="https://upload.wikimedia.org/wikipedia/commons/2/24/Samsung_Logo.svg" alt="Samsung Logo" style="height: 24px;"></a>
<!--                <a class="btn btn-dark btn-social mx-2" href="#!" aria-label="Google"><i class="fab fa-google"></i></a>-->
                <a class="btn btn-dark btn-social mx-2" href="https://www.lge.co.kr/" aria-label="LG" target="_blank"><img src="https://postfiles.pstatic.net/20160614_228/ppanppane_14658708382457gSEz_PNG/%BF%A4%C1%E3_%B7%CE%B0%ED_%282%29.png?type=w966" alt="LG Logo" style="height: 48px;"></a>
            </div>
            <div class="col-lg-4 text-lg-end">
                <a class="link-dark text-decoration-none me-3" href="#!">Privacy Policy</a>
                <a class="link-dark text-decoration-none" href="#!">Terms of Use</a>
            </div>
        </div>
    </div>
</footer>